    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background: aqua;
        text-align: center;
    }
    .heure{
        font-size: 50px;;
    }
    #clock{
        margin-top: 100px;
        font-size: 300px;
    }